* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
    font-family: "Roboto", sans-serif;
}

/* Utility  */

.button-style {
    padding: 10px;
    border-radius: 10%;
    border-style: none;
}

.padding-all {
    padding: 15px;
}

.label-span {
    background-color: #44acee;
    border: 1px solid #44acee;
    color: white;
    padding: 3px;
    border-radius: 20px;
    margin-left: 3px;
}







/* Regole CSS */

.header-main {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding-left: 20px;
}

.header-title {
    display: inline;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    font-weight: 900;
}

.header-logo {
    vertical-align: middle;
}

.wrapper {
    background-color: white;
    width: 700px;
    margin: 40px auto;
}

.button-bar {
    border-bottom: 3px solid #f6f8fa;

}


.button-task {
    background-color: #44acee;
    border-color: #44acee;
    color: white;

}

.button-section {
    background-color: white;
    color: lightgrey;
    border-color: lightgrey;
    border: 1px solid lightgrey;
    padding: 8px;
}

.q1-color {
    background-color: #9874e2;
    border: 1px solid #9874e2;
    color: white;

}

.rec-color {
    background-color: #5fc2a8;
    border: 1px solid #5fc2a8;
    color: white;
}

.mob-color {
    background-color: #f2a033;
    border: 1px solid #f2a033;
    color: white;
}

.web-color {
    background-color: #d762a0;
    border: 1px solid #d762a0;
    color: white;
}

.sales-color {
    background-color: #adc825;
    border: 1px solid #adc825;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
    font-weight: 500;
}