
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
}

.header-main {
    height: 100px;
    line-height: 100px;
    background-color: white;
}

.header-title {
    display: inline;
}