
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
}

.header-main {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding-left: 20px;
}

.header-title {
    display: inline;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    font-weight: 900;
}

.header-logo {
    vertical-align: middle;
}

.wrapper {
    background-color: white;
    width: 700px;
    margin: 0 auto;
}